* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 100px;
}

.inActive {
    display: none;
}