/* 
    animations
*/
@keyframes formbuttonLogin {
    0% {background-color: #001195; color: azure;}
    100% {background-color: #FAF9F6; color: rgb(88, 19, 94);border: 1px solid rgb(88, 19, 94)}
}

@keyframes formbuttonRegister {
    0% {background-color: #7092BE; color: azure;}
    100% {background-color: #FAF9F6; color: rgb(88, 19, 94);border: 1px solid rgb(88, 19, 94)}
}

/*
    styling the login form
*/
form {
    box-shadow: 8px 8px 15px 8px rgb(82, 82, 82);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px;
    padding: 10px 20px;
    margin: auto;
    margin-top: 20px;
    background-color: #FAF9F6;
}

form > * {
    margin: 10px;
    display: flex;
    flex-direction: column;
    color: #001195;
    
}

form label {
    align-self: middle;
}

input, select {
    display: block;
    padding: 8px;
    width: 100%;
    border: 1px solid #7092BE;
}

.formBtn {
    padding: 10px 60px;
    width: fit-content;
    border-radius: 2px;
    border: rgb(88, 19, 94);
    color: azure;
}

.primaryFormBtn {
    background-color: #00129A;
}

.secondaryFormBtn {
    background-color: #7092BE;
}


.primaryFormBtn:hover {
    animation-name: formbuttonLogin;
    animation-duration: .82s;
}

.secondaryFormBtn:hover {
    animation-name: formbuttonRegister;
    animation-duration: .82s;
}

.formBtn:hover {
    
    background-color: #FAF9F6; 
    color:rgb(88, 19, 94);
    border: 1px solid rgb(88, 19, 94);
    cursor: pointer;
}

.buttonRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.submitBtn {
    background-color: green;
    border-radius: 3px;
}

/* 
These styles only apply when the width of the viewers screen is 520px or less
*/
@media only screen and (max-width: 520px) {
    .buttonRow {
        height: 110px;
        align-items: center;
        justify-content: space-around;
    }    
    
}
.deleteBtn {
    background-color: rgb(121, 0, 0);
    border-radius: 3px;
}

