table {
    width: 80%;
    max-width: 1150px;
}
td a {
    padding: 5px;
}
/* 
These styles only apply when the width of the viewers screen is 600px or less
*/
@media only screen and (max-width: 600px) {
    table {
      width: 100%;
    }
  }