html, body {
    margin:0%;
    height:100%;
    width: 100%;
}

.hidden_file_input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    opacity: 0;
    margin: 0;
}

.display-none {
    display: none;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col6 {
    flex: 50%;
}
/* 
These styles only apply when the width of the viewers screen is 600px or less
*/
@media screen and (max-width: 600px) {

    .col6 {
        flex: 100%;
    }
}